.wrapper {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
	min-height: calc(100vh - 84px - 44px);

	padding-top: 44px;
	padding-bottom: 44px;
	background-color: var(--background);
}
